<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title>PersonalKanban</title>
    <script type="text/javascript" src="~/js/Main.js"></script>
    <style>
        html, body, body div {
            height: 98%;
        }
    </style>
</head>
<body>
</body>
</html>

<script type="text/javascript">
  Elm.fullscreen(Elm.Main);
</script>
